html {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 5em;
  position: relative;
  -webkit-text-fill-color: transparent;
  animation: color-change 2s infinite;
}
@keyframes color-change {
  0% {
    -webkit-text-fill-color: green; 
  }
  50% {
    -webkit-text-fill-color: yellow; 
  }
  100% {
    -webkit-text-fill-color: green; 
  }
}

h1:hover::after {
  width: 100%;
  left: 0;
}

img.rabbit-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.tabs {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.tab {
  margin: 0 10px;
  cursor: pointer;
}

.tab:hover {
  text-decoration: underline;
}

.search-tab {
  margin: 0 10px;
  cursor: pointer;
}

.search-tab:hover {
  text-decoration: underline;
}



  
}
